
examples/voicebot-lambda-android-vg-rasa/temp.js
examples/microphone-websocket-node-js-v2/test
examples/grammars/output/*
examples/grammars/grxml/taxonomy-simple.grxml
examples/grammars/Recordings/**/User1/*
examples/grammars/Recordings/**/User2/*
examples/grammars/Recordings/**/User3/*
examples/grammars/Recordings/**/User4/*
examples/grammars/Recordings/**/User5/*
examples/grammars/Recordings/**/User6/*
examples/grammars/Recordings/**/User7/*
examples/grammars/Recordings/**/User8/*
examples/grammars/Recordings/**/User9/*